/* Resetando estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e fundo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Cabeçalho */
header {
    background-color: #003f87; /* Azul Honda */
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

/* Títulos principais */
h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

/* Seções */
section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

/* Títulos das seções */
h2 {
    font-size: 1.8rem;
    color: #003f87; /* Azul mais escuro */
    margin-bottom: 10px;
}

/* Parágrafos */
p {
    font-size: 1rem;
    margin-bottom: 15px;
}

/* Destaque em negrito */
strong {
    font-weight: bold;
    color: #003f87;
}

/* Rodapé */
footer {
    text-align: center;
    font-size: 1rem;
    color: #888;
    margin-top: 40px;
}

footer p {
    padding: 10px;
    background-color: #003f87;
    color: white;
}
